n8n-workflows/flow-c-campaign-send-v2.json
{
  "name": "PreventIQ - Flow C: Campaign Send (Simplified)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 4,
              "triggerAtMinute": 30
            }
          ]
        }
      },
      "name": "Daily at 10 AM IST (4:30 AM UTC)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300],
      "id": "cron-trigger"
    },
    {
      "parameters": {
        "functionName": "campaign-send",
        "headers": {},
        "queryString": "",
        "options": {}
      },
      "name": "Call campaign-send",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [460, 300],
      "id": "call-campaign-send",
      "credentials": {
        "supabaseApi": {
          "id": "supabase-api",
          "name": "Supabase API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "campaigns-exist",
              "leftValue": "={{ $json.campaigns ? $json.campaigns.length : 0 }}",
              "rightValue": "0",
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "name": "Check if campaigns exist",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 300],
      "id": "check-campaigns"
    },
    {
      "parameters": {
        "fieldToSplitOut": "campaigns",
        "options": {}
      },
      "name": "Split campaigns array",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [900, 200],
      "id": "split-campaigns"
    },
    {
      "parameters": {
        "url": "https://api.resend.com/emails",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"from\": \"PreventIQ <onboarding@resend.dev>\",\n  \"to\": \"{{ $json.lead_email }}\",\n  \"subject\": \"{{ $json.subject }}\",\n  \"html\": \"<!DOCTYPE html>\\n<html>\\n<head>\\n  <meta charset=\\\"utf-8\\\">\\n  <style>\\n    body { font-family: Arial, sans-serif; line-height: 1.6; color: #333; }\\n    .container { max-width: 600px; margin: 0 auto; padding: 20px; }\\n    .header { background: #0066cc; color: white; padding: 20px; text-align: center; border-radius: 8px 8px 0 0; }\\n    .content { padding: 30px; background: #f9f9f9; }\\n    .cta { display: inline-block; background: #0066cc; color: white; padding: 14px 28px; text-decoration: none; border-radius: 5px; margin: 20px 0; font-weight: bold; }\\n    .footer { padding: 20px; background: #f0f0f0; text-align: center; font-size: 12px; color: #666; border-radius: 0 0 8px 8px; }\\n  </style>\\n</head>\\n<body>\\n  <div class=\\\"container\\\">\\n    <div class=\\\"header\\\">\\n      <h1>🏥 PreventIQ Health Insights</h1>\\n    </div>\\n    <div class=\\\"content\\\">\\n      <h2>Hi {{ $json.lead_name }},</h2>\\n      <p>Your personalized health assessment is ready!</p>\\n      <p>Based on your profile, we've identified key health insights that could help you prevent chronic conditions and improve your well-being.</p>\\n      <p><strong>Take the first step towards better health today.</strong></p>\\n      <a href=\\\"https://zdgvndxdhucbakguvkgw.supabase.co/functions/v1/track-click/{{ $json.assignment_id }}\\\" class=\\\"cta\\\">\\n        Get Your Free Assessment →\\n      </a>\\n      <p style=\\\"margin-top: 30px; color: #555;\\\">This personalized assessment takes just 2 minutes and provides actionable insights tailored to your health profile.</p>\\n    </div>\\n    <div class=\\\"footer\\\">\\n      <p>You're receiving this because you signed up for PreventIQ health insights.</p>\\n      <p>© 2025 PreventIQ. All rights reserved.</p>\\n    </div>\\n  </div>\\n</body>\\n</html>\",\n  \"tags\": [\n    {\n      \"name\": \"campaign\",\n      \"value\": \"preventiq_daily\"\n    },\n    {\n      \"name\": \"persona\",\n      \"value\": \"{{ $json.persona_id }}\"\n    }\n  ]\n}",
        "options": {}
      },
      "name": "Send Email via Resend",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 200],
      "id": "send-email-resend",
      "credentials": {
        "httpHeaderAuth": {
          "id": "resend-api",
          "name": "Resend API"
        }
      }
    },
    {
      "parameters": {
        "operation": "runQuery",
        "query": "=INSERT INTO assignments (lead_id, persona_id, variant_subject_id, corr_id, status, send_at)\nVALUES (\n  '{{ $('Split campaigns array').item.json.lead_id }}',\n  '{{ $('Split campaigns array').item.json.persona_id }}',\n  '{{ $('Split campaigns array').item.json.variant_id }}',\n  '{{ $json.id }}',\n  'sent',\n  NOW()\n)\nRETURNING id;",
        "options": {}
      },
      "name": "Store Assignment",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1340, 200],
      "id": "store-assignment",
      "credentials": {
        "supabaseApi": {
          "id": "supabase-api",
          "name": "Supabase API"
        }
      }
    },
    {
      "parameters": {
        "content": "## Campaign Send Workflow - Simplified\n\n**Uses native Supabase nodes!**\n\n**Trigger:** Daily at 10:00 AM IST (4:30 AM UTC)\n\n**What it does:**\n1. Calls `campaign-send` Edge Function via Supabase node\n2. Gets campaigns with Thompson Sampling variants\n3. Sends emails via Resend API\n4. Stores assignments via Supabase SQL query\n\n**Credentials needed:**\n- Supabase API (for Edge Functions + DB)\n- Resend API (for email sending)",
        "height": 320,
        "width": 400,
        "color": 4
      },
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [220, 480],
      "id": "sticky-note"
    },
    {
      "parameters": {
        "content": "## No Campaigns?\n\nIf campaign-send returns empty:\n- No unassigned leads\n- Or all processed already\n\nWorkflow stops (normal behavior)",
        "height": 180,
        "width": 280,
        "color": 7
      },
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [660, 440],
      "id": "sticky-note-no-campaigns"
    }
  ],
  "connections": {
    "Daily at 10 AM IST (4:30 AM UTC)": {
      "main": [
        [
          {
            "node": "Call campaign-send",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call campaign-send": {
      "main": [
        [
          {
            "node": "Check if campaigns exist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if campaigns exist": {
      "main": [
        [
          {
            "node": "Split campaigns array",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Split campaigns array": {
      "main": [
        [
          {
            "node": "Send Email via Resend",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email via Resend": {
      "main": [
        [
          {
            "node": "Store Assignment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-11-11T00:00:00.000Z",
  "versionId": "2"
}
