n8n-workflows/flow-c-campaign-send.json
{
  "name": "Flow C: Daily Campaign Send",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * *"
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        250,
        250
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "campaign-send",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        250,
        350
      ],
      "webhookId": "campaign-send-webhook"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "host-assignment",
              "name": "host",
              "value": "https://zdgvndxdhucbakguvkgw.supabase.co",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "supabase-config",
      "name": "Supabase Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        450,
        300
      ]
    },
    {
      "parameters": {
        "url": "={{ $('Supabase Config').item.json.host }}/functions/v1/campaign-send",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={}",
        "options": {}
      },
      "id": "call-campaign-send",
      "name": "Call campaign-send",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        650,
        300
      ],
      "credentials": {
        "supabaseApi": {
          "id": "supabase-api-credential",
          "name": "Supabase API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "has-campaigns",
              "leftValue": "={{ $json.success === true && Array.isArray($json.campaigns) && $json.campaigns.length > 0 }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-campaigns",
      "name": "Has Campaigns?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        850,
        300
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "no-campaigns-message",
              "name": "message",
              "value": "No campaigns to send",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "no-campaigns",
      "name": "No Campaigns",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1050,
        450
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "campaigns",
        "options": {}
      },
      "id": "split-campaigns",
      "name": "Split Campaigns",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1050,
        150
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.brevo.com/v3/smtp/email",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"sender\": {\n    \"name\": \"PreventIQ\",\n    \"email\": \"p24priyesh@gmail.com\"\n  },\n  \"to\": [\n    {\n      \"email\": \"{{ $('Split Campaigns').item.json.lead_email }}\",\n      \"name\": \"{{ $('Split Campaigns').item.json.lead_name }}\"\n    }\n  ],\n  \"subject\": \"{{ $('Split Campaigns').item.json.subject }}\",\n  \"htmlContent\": \"<div style='font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto;'><p>{{ $('Split Campaigns').item.json.email_content.greeting }}</p><p><strong>{{ $('Split Campaigns').item.json.email_content.intro }}</strong></p><p>{{ $('Split Campaigns').item.json.email_content.body }}</p><p style='text-align: center; margin: 30px 0;'><a href='https://zdgvndxdhucbakguvkgw.supabase.co/functions/v1/track-click/{{ $('Record Assignment').item.json.id }}' style='background-color: #0066cc; color: white; padding: 12px 30px; text-decoration: none; border-radius: 5px; display: inline-block;'>{{ $('Split Campaigns').item.json.email_content.cta }}</a></p><p><em>{{ $('Split Campaigns').item.json.email_content.closing }}</em></p><p>Best regards,<br>The PreventIQ Team</p></div>\",\n  \"tags\": [\"campaign\", \"persona_{{ $('Split Campaigns').item.json.persona_id }}\", \"variant_{{ $('Split Campaigns').item.json.variant_id }}\"]\n}",
        "options": {}
      },
      "id": "send-email-brevo",
      "name": "Send Email via Brevo",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1250,
        150
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "brevo-api-credential",
          "name": "Brevo API"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO assignments (lead_id, persona_id, variant_subject_id, status, send_at) VALUES ({{ $('Split Campaigns').item.json.lead_id }}, '{{ $('Split Campaigns').item.json.persona_id }}', '{{ $('Split Campaigns').item.json.variant_id }}', 'queued', NOW()) RETURNING id",
        "options": {}
      },
      "id": "record-assignment",
      "name": "Record Assignment",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1450,
        150
      ],
      "credentials": {
        "postgres": {
          "id": "supabase-postgres",
          "name": "Supabase Postgres"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=UPDATE assignments SET corr_id = '{{ $('Send Email via Brevo').item.json.messageId }}', status = 'sent', sent_at = NOW() WHERE id = {{ $('Record Assignment').item.json.id }}; INSERT INTO events (assignment_id, type, meta, ts) VALUES ({{ $('Record Assignment').item.json.id }}, 'sent', jsonb_build_object('email', '{{ $('Split Campaigns').item.json.lead_email }}', 'subject', '{{ $('Split Campaigns').item.json.subject }}', 'message_id', '{{ $('Send Email via Brevo').item.json.messageId }}', 'variant_id', '{{ $('Split Campaigns').item.json.variant_id }}', 'from', 'p24priyesh@gmail.com'), NOW()) ON CONFLICT (assignment_id, type) DO UPDATE SET meta = EXCLUDED.meta, ts = EXCLUDED.ts RETURNING *",
        "options": {}
      },
      "id": "log-email",
      "name": "Log Email Sent",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1650,
        150
      ],
      "credentials": {
        "postgres": {
          "id": "supabase-postgres",
          "name": "Supabase Postgres"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Supabase Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Supabase Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Config": {
      "main": [
        [
          {
            "node": "Call campaign-send",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call campaign-send": {
      "main": [
        [
          {
            "node": "Has Campaigns?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Campaigns?": {
      "main": [
        [
          {
            "node": "Split Campaigns",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Campaigns",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Campaigns": {
      "main": [
        [
          {
            "node": "Record Assignment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Record Assignment": {
      "main": [
        [
          {
            "node": "Send Email via Brevo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email via Brevo": {
      "main": [
        [
          {
            "node": "Log Email Sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "preventiq-genai-engine"
  },
  "id": "flow-c-campaign-send",
  "tags": []
}