n8n-workflows/flow-f-report-generation-v2.json
{
  "name": "PreventIQ - Flow F: Report Generation (Simplified)",
  "nodes": [
    {
      "parameters": {},
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [240, 300],
      "id": "manual-trigger"
    },
    {
      "parameters": {
        "functionName": "generate-report",
        "headers": {},
        "queryString": "",
        "options": {}
      },
      "name": "Call generate-report",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [460, 300],
      "id": "call-generate-report",
      "credentials": {
        "supabaseApi": {
          "id": "supabase-api",
          "name": "Supabase API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Format the report data into beautiful HTML\nconst data = $input.item.json;\n\nconst html = `\n<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"utf-8\">\n  <title>PreventIQ Campaign Report</title>\n  <style>\n    * { margin: 0; padding: 0; box-sizing: border-box; }\n    body {\n      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;\n      line-height: 1.6;\n      color: #1a202c;\n      background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);\n      padding: 40px 20px;\n    }\n    .container {\n      max-width: 1200px;\n      margin: 0 auto;\n      background: white;\n      border-radius: 16px;\n      box-shadow: 0 20px 60px rgba(0,0,0,0.3);\n      overflow: hidden;\n    }\n    .header {\n      background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);\n      color: white;\n      padding: 40px;\n      text-align: center;\n    }\n    .header h1 {\n      font-size: 32px;\n      font-weight: 700;\n      margin-bottom: 10px;\n    }\n    .header p {\n      font-size: 16px;\n      opacity: 0.9;\n    }\n    .metrics {\n      display: grid;\n      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));\n      gap: 20px;\n      padding: 40px;\n      background: #f7fafc;\n    }\n    .metric-card {\n      background: white;\n      padding: 24px;\n      border-radius: 12px;\n      box-shadow: 0 2px 8px rgba(0,0,0,0.1);\n      text-align: center;\n    }\n    .metric-value {\n      font-size: 36px;\n      font-weight: 700;\n      color: #667eea;\n      margin-bottom: 8px;\n    }\n    .metric-label {\n      font-size: 14px;\n      color: #718096;\n      text-transform: uppercase;\n      letter-spacing: 0.5px;\n    }\n    .section {\n      padding: 40px;\n    }\n    .section h2 {\n      font-size: 24px;\n      font-weight: 700;\n      margin-bottom: 20px;\n      color: #2d3748;\n    }\n    .kpi-table {\n      width: 100%;\n      border-collapse: collapse;\n      margin-top: 20px;\n    }\n    .kpi-table th,\n    .kpi-table td {\n      padding: 12px;\n      text-align: left;\n      border-bottom: 1px solid #e2e8f0;\n    }\n    .kpi-table th {\n      background: #f7fafc;\n      font-weight: 600;\n      color: #4a5568;\n      font-size: 13px;\n      text-transform: uppercase;\n      letter-spacing: 0.5px;\n    }\n    .kpi-table tr:hover {\n      background: #f7fafc;\n    }\n    .insights-box {\n      background: linear-gradient(135deg, #667eea15 0%, #764ba215 100%);\n      border-left: 4px solid #667eea;\n      padding: 24px;\n      border-radius: 8px;\n      margin-top: 20px;\n    }\n    .insights-box h3 {\n      font-size: 18px;\n      font-weight: 600;\n      margin-bottom: 12px;\n      color: #2d3748;\n    }\n    .insights-box p {\n      color: #4a5568;\n      line-height: 1.8;\n    }\n    .subject-lines {\n      background: #f7fafc;\n      padding: 20px;\n      border-radius: 8px;\n      margin-top: 20px;\n    }\n    .subject-lines h4 {\n      font-size: 16px;\n      font-weight: 600;\n      margin-bottom: 12px;\n      color: #2d3748;\n    }\n    .subject-lines ol {\n      padding-left: 20px;\n    }\n    .subject-lines li {\n      margin-bottom: 8px;\n      color: #4a5568;\n    }\n    .footer {\n      padding: 30px 40px;\n      background: #2d3748;\n      color: white;\n      text-align: center;\n      font-size: 14px;\n    }\n    .badge {\n      display: inline-block;\n      padding: 4px 12px;\n      border-radius: 12px;\n      font-size: 12px;\n      font-weight: 600;\n    }\n    .badge-success { background: #c6f6d5; color: #22543d; }\n    .badge-warning { background: #feebc8; color: #7c2d12; }\n    .badge-info { background: #bee3f8; color: #2c5282; }\n  </style>\n</head>\n<body>\n  <div class=\"container\">\n    <div class=\"header\">\n      <h1>📊 Campaign Performance Report</h1>\n      <p>Generated on ${new Date().toLocaleDateString('en-US', { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' })}</p>\n    </div>\n\n    <div class=\"metrics\">\n      <div class=\"metric-card\">\n        <div class=\"metric-value\">${data.metrics.global_ctr.toFixed(2)}%</div>\n        <div class=\"metric-label\">Overall CTR</div>\n      </div>\n      <div class=\"metric-card\">\n        <div class=\"metric-value\">${data.metrics.pmf_score.toFixed(1)}/100</div>\n        <div class=\"metric-label\">PMF Score</div>\n      </div>\n      <div class=\"metric-card\">\n        <div class=\"metric-value\">${data.kpis.length}</div>\n        <div class=\"metric-label\">Active Personas</div>\n      </div>\n      <div class=\"metric-card\">\n        <div class=\"metric-value\">${data.best_persona || 'N/A'}</div>\n        <div class=\"metric-label\">Best Persona</div>\n      </div>\n    </div>\n\n    <div class=\"section\">\n      <h2>📈 Persona Performance</h2>\n      <table class=\"kpi-table\">\n        <thead>\n          <tr>\n            <th>Persona</th>\n            <th>Emails Sent</th>\n            <th>Delivered</th>\n            <th>Opened</th>\n            <th>Clicked</th>\n            <th>CTR</th>\n            <th>Status</th>\n          </tr>\n        </thead>\n        <tbody>\n          ${data.kpis.map(kpi => `\n            <tr>\n              <td><strong>${kpi.persona_id}</strong></td>\n              <td>${kpi.total_sent}</td>\n              <td>${kpi.total_delivered}</td>\n              <td>${kpi.total_opened}</td>\n              <td>${kpi.total_clicked}</td>\n              <td><strong>${kpi.ctr.toFixed(2)}%</strong></td>\n              <td>\n                <span class=\"badge badge-${kpi.ctr >= 5 ? 'success' : kpi.ctr >= 2 ? 'warning' : 'info'}\">\n                  ${kpi.ctr >= 5 ? 'Excellent' : kpi.ctr >= 2 ? 'Good' : 'Learning'}\n                </span>\n              </td>\n            </tr>\n          `).join('')}\n        </tbody>\n      </table>\n    </div>\n\n    <div class=\"section\">\n      <h2>🤖 AI-Powered Insights</h2>\n      <div class=\"insights-box\">\n        <h3>Summary</h3>\n        <p>${data.insights.summary}</p>\n      </div>\n\n      <div class=\"subject-lines\">\n        <h4>💡 Recommended Subject Lines for Next Campaign</h4>\n        <ol>\n          ${data.insights.next_subject_lines.map(subject => `<li>${subject}</li>`).join('')}\n        </ol>\n      </div>\n    </div>\n\n    <div class=\"footer\">\n      <p>PreventIQ Campaign Intelligence System</p>\n      <p style=\"margin-top: 8px; opacity: 0.8;\">Powered by Thompson Sampling + Google Gemini AI</p>\n    </div>\n  </div>\n</body>\n</html>\n`;\n\nreturn {\n  html,\n  text_summary: data.insights.summary,\n  pmf_score: data.metrics.pmf_score,\n  global_ctr: data.metrics.global_ctr,\n  best_persona: data.best_persona,\n  generated_at: new Date().toISOString()\n};"
      },
      "name": "Format HTML Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300],
      "id": "format-html-report"
    },
    {
      "parameters": {
        "content": "## Report Generation Workflow - Simplified\n\n**Uses native Supabase node!**\n\n**Trigger:** Manual (run weekly)\n\n**What it does:**\n1. Calls `generate-report` Edge Function\n2. Gets campaign KPIs + Gemini insights\n3. Formats beautiful HTML report\n\n**Output:**\n- HTML report (save to file)\n- Text summary\n- Key metrics (PMF score, CTR, best persona)\n\n**Credentials needed:**\n- Supabase API (for Edge Function)",
        "height": 360,
        "width": 400,
        "color": 4
      },
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [220, 480],
      "id": "sticky-note"
    },
    {
      "parameters": {
        "content": "## 💾 Save Report\n\nAdd these nodes after formatting:\n\n1. **Write Binary File**\n   - Save HTML to disk\n   - Or send via email\n\n2. **Slack/Discord**\n   - Post summary to channel\n\n3. **Notion/Airtable**\n   - Store KPIs for tracking",
        "height": 240,
        "width": 320,
        "color": 5
      },
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [860, 480],
      "id": "sticky-note-save"
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Call generate-report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call generate-report": {
      "main": [
        [
          {
            "node": "Format HTML Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-11-11T00:00:00.000Z",
  "versionId": "2"
}
