n8n-workflows/flow-f-report-generation.json
{
  "name": "Flow F: Weekly Report Generation",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 10 * * 1"
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "host-assignment",
              "name": "host",
              "value": "https://zdgvndxdhucbakguvkgw.supabase.co",
              "type": "string"
            },
            {
              "id": "start-date",
              "name": "start_date",
              "value": "={{ $now.minus({ days: 7 }).toISO() }}",
              "type": "string"
            },
            {
              "id": "end-date",
              "name": "end_date",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "supabase-config",
      "name": "Supabase Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        450,
        300
      ]
    },
    {
      "parameters": {
        "url": "={{ $('Supabase Config').item.json.host }}/functions/v1/generate-report",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"start_date\": \"{{ $('Supabase Config').item.json.start_date }}\",\n  \"end_date\": \"{{ $('Supabase Config').item.json.end_date }}\"\n}",
        "options": {}
      },
      "id": "call-generate-report",
      "name": "Call generate-report",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        650,
        300
      ],
      "credentials": {
        "supabaseApi": {
          "id": "supabase-api-credential",
          "name": "Supabase API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Format the report data into HTML email\nconst report = $input.item.json.report;\n\nlet kpisHtml = '';\nreport.kpis.forEach(kpi => {\n  kpisHtml += `\n    <tr>\n      <td style=\"padding: 10px; border: 1px solid #ddd;\">${kpi.persona_label}</td>\n      <td style=\"padding: 10px; border: 1px solid #ddd; text-align: center;\">${kpi.total_sends}</td>\n      <td style=\"padding: 10px; border: 1px solid #ddd; text-align: center;\">${kpi.total_clicks}</td>\n      <td style=\"padding: 10px; border: 1px solid #ddd; text-align: center;\">${kpi.ctr_percent}</td>\n    </tr>\n  `;\n});\n\nlet nextIdeasHtml = '';\nreport.insights.next_subject_lines.forEach((line, idx) => {\n  nextIdeasHtml += `<li style=\"margin: 5px 0;\">${line}</li>`;\n});\n\nconst htmlContent = `\n<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"UTF-8\">\n  <title>PreventIQ Weekly Report</title>\n</head>\n<body style=\"font-family: Arial, sans-serif; line-height: 1.6; color: #333; max-width: 800px; margin: 0 auto; padding: 20px;\">\n  <h1 style=\"color: #2563eb; border-bottom: 3px solid #2563eb; padding-bottom: 10px;\">📊 PreventIQ Weekly Campaign Report</h1>\n  \n  <p><strong>Report Period:</strong> ${new Date(report.date_range.start).toLocaleDateString()} - ${new Date(report.date_range.end).toLocaleDateString()}</p>\n  \n  <h2 style=\"color: #1e40af; margin-top: 30px;\">📈 Global Metrics</h2>\n  <div style=\"background: #f3f4f6; padding: 15px; border-radius: 8px; margin: 15px 0;\">\n    <p style=\"margin: 5px 0;\"><strong>Total Emails Sent:</strong> ${report.metrics.total_sends}</p>\n    <p style=\"margin: 5px 0;\"><strong>Total Clicks:</strong> ${report.metrics.total_clicks}</p>\n    <p style=\"margin: 5px 0;\"><strong>Global CTR:</strong> ${report.metrics.global_ctr_percent}</p>\n    <p style=\"margin: 5px 0;\"><strong>PMF Score:</strong> ${report.metrics.pmf_score_percent}</p>\n  </div>\n\n  <h2 style=\"color: #1e40af; margin-top: 30px;\">🎯 Performance by Persona</h2>\n  <table style=\"width: 100%; border-collapse: collapse; margin: 15px 0;\">\n    <thead>\n      <tr style=\"background: #2563eb; color: white;\">\n        <th style=\"padding: 12px; border: 1px solid #ddd; text-align: left;\">Persona</th>\n        <th style=\"padding: 12px; border: 1px solid #ddd; text-align: center;\">Sends</th>\n        <th style=\"padding: 12px; border: 1px solid #ddd; text-align: center;\">Clicks</th>\n        <th style=\"padding: 12px; border: 1px solid #ddd; text-align: center;\">CTR</th>\n      </tr>\n    </thead>\n    <tbody>\n      ${kpisHtml}\n    </tbody>\n  </table>\n\n  <h2 style=\"color: #1e40af; margin-top: 30px;\">🏆 Best Performing Persona</h2>\n  <div style=\"background: #dcfce7; padding: 15px; border-radius: 8px; border-left: 4px solid #22c55e; margin: 15px 0;\">\n    <p style=\"margin: 5px 0; font-size: 18px;\"><strong>${report.best_persona.label}</strong></p>\n    <p style=\"margin: 5px 0;\">CTR: ${(report.best_persona.ctr * 100).toFixed(1)}%</p>\n  </div>\n\n  <h2 style=\"color: #1e40af; margin-top: 30px;\">💡 AI Insights</h2>\n  <div style=\"background: #fef3c7; padding: 15px; border-radius: 8px; border-left: 4px solid #f59e0b; margin: 15px 0;\">\n    <p>${report.insights.summary}</p>\n  </div>\n\n  <h2 style=\"color: #1e40af; margin-top: 30px;\">✨ Next Campaign Ideas</h2>\n  <div style=\"background: #e0e7ff; padding: 15px; border-radius: 8px; border-left: 4px solid #6366f1; margin: 15px 0;\">\n    <p>AI-generated subject lines for <strong>${report.best_persona.label}</strong>:</p>\n    <ul style=\"margin: 10px 0; padding-left: 20px;\">\n      ${nextIdeasHtml}\n    </ul>\n  </div>\n\n  <hr style=\"margin: 30px 0; border: 0; border-top: 1px solid #ddd;\">\n  <p style=\"font-size: 12px; color: #6b7280;\">Generated on ${new Date(report.generated_at).toLocaleString()}</p>\n  <p style=\"font-size: 12px; color: #6b7280;\">PreventIQ Campaign Automation | Powered by Thompson Sampling & Google Gemini AI</p>\n</body>\n</html>\n`;\n\nreturn {\n  html: htmlContent,\n  subject: `PreventIQ Weekly Report: ${report.metrics.global_ctr_percent} CTR | ${report.metrics.total_sends} Sends`,\n  report: report\n};"
      },
      "id": "format-report-html",
      "name": "Format Report HTML",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        850,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.brevo.com/v3/smtp/email",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ \n  JSON.stringify({\n    sender: {\n      name: 'PreventIQ Reports',\n      email: 'p24priyesh@gmail.com'\n    },\n    to: [{\n      email: 'p24priyesh@gmail.com',\n      name: 'PreventIQ Team'\n    }],\n    subject: $json.subject,\n    htmlContent: $json.html,\n    tags: ['weekly-report', 'generated_' + $json.report.generated_at]\n  })\n}}",
        "options": {}
      },
      "id": "send-report-email",
      "name": "Send Report Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1050,
        300
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "brevo-api-credential",
          "name": "Brevo API"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Supabase Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Config": {
      "main": [
        [
          {
            "node": "Call generate-report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call generate-report": {
      "main": [
        [
          {
            "node": "Format Report HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Report HTML": {
      "main": [
        [
          {
            "node": "Send Report Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "preventiq-genai-engine"
  },
  "id": "flow-f-report-generation",
  "tags": []
}
