n8n-workflows/flow-f-report-generation.json
{
  "name": "PreventIQ - Flow F: Report Generation",
  "nodes": [
    {
      "parameters": {},
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        240,
        300
      ],
      "id": "manual-trigger"
    },
    {
      "parameters": {
        "url": "https://zdgvndxdhucbakguvkgw.supabase.co/functions/v1/generate-report",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"start_date\": \"{{ $now.minus({ days: 7 }).toISO() }}\",\n  \"end_date\": \"{{ $now.toISO() }}\"\n}",
        "options": {}
      },
      "name": "Call generate-report Edge Function",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        460,
        300
      ],
      "id": "call-generate-report",
      "credentials": {
        "httpHeaderAuth": {
          "id": "supabase-service-role",
          "name": "Supabase Service Role"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Format the report data as HTML\nconst report = $input.first().json;\nconst kpis = report.kpis || [];\nconst metrics = report.metrics || {};\nconst insights = report.insights || {};\n\n// Generate HTML report\nconst html = `\n<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"utf-8\">\n  <style>\n    body { font-family: 'Segoe UI', Arial, sans-serif; padding: 40px; color: #333; }\n    .header { background: linear-gradient(135deg, #0066cc 0%, #004999 100%); color: white; padding: 30px; border-radius: 8px; margin-bottom: 30px; }\n    .header h1 { margin: 0; font-size: 32px; }\n    .header p { margin: 10px 0 0 0; opacity: 0.9; }\n    .metrics { display: grid; grid-template-columns: repeat(3, 1fr); gap: 20px; margin-bottom: 30px; }\n    .metric-card { background: #f8f9fa; padding: 20px; border-radius: 8px; border-left: 4px solid #0066cc; }\n    .metric-card h3 { margin: 0 0 10px 0; font-size: 14px; color: #666; text-transform: uppercase; }\n    .metric-card .value { font-size: 32px; font-weight: bold; color: #0066cc; }\n    table { width: 100%; border-collapse: collapse; margin: 20px 0; }\n    th, td { padding: 12px; text-align: left; border-bottom: 1px solid #ddd; }\n    th { background: #f8f9fa; font-weight: 600; }\n    tr:hover { background: #f8f9fa; }\n    .insights { background: #fff3cd; padding: 20px; border-radius: 8px; border-left: 4px solid #ffc107; margin: 20px 0; }\n    .insights h2 { margin-top: 0; color: #856404; }\n    .subject-line { background: #e7f3ff; padding: 10px; margin: 5px 0; border-radius: 4px; border-left: 3px solid #0066cc; }\n    .footer { margin-top: 40px; padding-top: 20px; border-top: 2px solid #ddd; color: #666; font-size: 12px; }\n  </style>\n</head>\n<body>\n  <div class=\"header\">\n    <h1>🏥 PreventIQ Campaign Report</h1>\n    <p>Performance Analysis • Last 7 Days</p>\n  </div>\n\n  <div class=\"metrics\">\n    <div class=\"metric-card\">\n      <h3>Total Sends</h3>\n      <div class=\"value\">${metrics.total_sends || 0}</div>\n    </div>\n    <div class=\"metric-card\">\n      <h3>Click-Through Rate</h3>\n      <div class=\"value\">${((metrics.global_ctr || 0) * 100).toFixed(2)}%</div>\n    </div>\n    <div class=\"metric-card\">\n      <h3>PMF Score</h3>\n      <div class=\"value\">${((metrics.pmf_score || 0) * 100).toFixed(1)}%</div>\n    </div>\n  </div>\n\n  <h2>📊 Persona Performance</h2>\n  <table>\n    <thead>\n      <tr>\n        <th>Persona</th>\n        <th>Sends</th>\n        <th>Clicks</th>\n        <th>CTR</th>\n        <th>Performance</th>\n      </tr>\n    </thead>\n    <tbody>\n      ${kpis.map(kpi => `\n        <tr>\n          <td><strong>${kpi.persona_label}</strong></td>\n          <td>${kpi.total_sends}</td>\n          <td>${kpi.total_clicks}</td>\n          <td><strong>${(kpi.ctr * 100).toFixed(2)}%</strong></td>\n          <td>\n            ${kpi.ctr > (metrics.global_ctr || 0) \n              ? '🟢 Above Average' \n              : '🔴 Below Average'\n            }\n          </td>\n        </tr>\n      `).join('')}\n    </tbody>\n  </table>\n\n  <div class=\"insights\">\n    <h2>🤖 AI Insights</h2>\n    <p>${insights.summary || 'No insights available'}</p>\n  </div>\n\n  <h2>💡 Recommended Subject Lines</h2>\n  <p>Based on Thompson Sampling performance, try these new subject lines:</p>\n  ${(insights.next_subject_lines || []).map((subject, i) => `\n    <div class=\"subject-line\">\n      <strong>${i + 1}.</strong> ${subject}\n    </div>\n  `).join('')}\n\n  <div class=\"footer\">\n    <p><strong>Report generated:</strong> ${new Date().toLocaleString('en-US', { timeZone: 'Asia/Kolkata' })} IST</p>\n    <p><strong>PreventIQ Campaign Analytics</strong> • Powered by Thompson Sampling + Gemini AI</p>\n  </div>\n</body>\n</html>\n`;\n\nreturn {\n  json: {\n    html: html,\n    report_data: report,\n    filename: `preventiq-report-${new Date().toISOString().split('T')[0]}.pdf`\n  }\n};"
      },
      "name": "Format Report as HTML",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        680,
        300
      ],
      "id": "format-html"
    },
    {
      "parameters": {
        "content": "## Report Generation Workflow\n\n**Trigger:** Manual (run on-demand)\n\n**What it does:**\n1. Calls `generate-report` Edge Function\n2. Gets KPIs + Gemini insights\n3. Formats as beautiful HTML report\n4. (Future) Generate PDF\n5. (Future) Upload to Supabase Storage\n6. (Future) Email report to admin\n\n**Current:** HTML output for testing\n**Next:** Add PDF generation + email delivery",
        "height": 380,
        "width": 400,
        "color": 5
      },
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        220,
        480
      ],
      "id": "sticky-note"
    },
    {
      "parameters": {
        "content": "## Optional: Save HTML Report\n\nFor now, the HTML output can be:\n- Copied from n8n execution\n- Saved manually\n- Viewed in browser\n\nLater, add nodes to:\n1. Convert HTML to PDF (WeasyPrint API)\n2. Upload to Supabase Storage\n3. Send email with PDF link",
        "height": 220,
        "width": 320,
        "color": 6
      },
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        660,
        500
      ],
      "id": "sticky-note-future"
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Call generate-report Edge Function",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call generate-report Edge Function": {
      "main": [
        [
          {
            "node": "Format Report as HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-11-11T00:00:00.000Z",
  "versionId": "1"
}
