n8n-workflows/flow-c-campaign-send.json
{
  "name": "PreventIQ - Flow C: Campaign Send",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 4,
              "triggerAtMinute": 30
            }
          ]
        }
      },
      "name": "Daily at 10 AM IST (4:30 AM UTC)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        240,
        300
      ],
      "id": "cron-trigger"
    },
    {
      "parameters": {
        "url": "https://zdgvndxdhucbakguvkgw.supabase.co/functions/v1/campaign-send",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "name": "Call campaign-send Edge Function",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        460,
        300
      ],
      "id": "call-campaign-send",
      "credentials": {
        "httpHeaderAuth": {
          "id": "supabase-service-role",
          "name": "Supabase Service Role"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "campaigns-exist",
              "leftValue": "={{ $json.campaigns.length }}",
              "rightValue": "0",
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "name": "Check if campaigns exist",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        680,
        300
      ],
      "id": "check-campaigns"
    },
    {
      "parameters": {
        "fieldToSplitOut": "campaigns",
        "options": {}
      },
      "name": "Split campaigns array",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        900,
        200
      ],
      "id": "split-campaigns"
    },
    {
      "parameters": {
        "url": "https://api.resend.com/emails",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"from\": \"PreventIQ <onboarding@resend.dev>\",\n  \"to\": \"{{ $json.lead_email }}\",\n  \"subject\": \"{{ $json.subject }}\",\n  \"html\": \"<!DOCTYPE html>\\n<html>\\n<head>\\n  <meta charset=\\\"utf-8\\\">\\n  <style>\\n    body { font-family: Arial, sans-serif; line-height: 1.6; color: #333; }\\n    .container { max-width: 600px; margin: 0 auto; padding: 20px; }\\n    .header { background: #0066cc; color: white; padding: 20px; text-align: center; border-radius: 8px 8px 0 0; }\\n    .content { padding: 30px; background: #f9f9f9; }\\n    .cta { display: inline-block; background: #0066cc; color: white; padding: 14px 28px; text-decoration: none; border-radius: 5px; margin: 20px 0; font-weight: bold; }\\n    .footer { padding: 20px; background: #f0f0f0; text-align: center; font-size: 12px; color: #666; border-radius: 0 0 8px 8px; }\\n  </style>\\n</head>\\n<body>\\n  <div class=\\\"container\\\">\\n    <div class=\\\"header\\\">\\n      <h1>🏥 PreventIQ Health Insights</h1>\\n    </div>\\n    <div class=\\\"content\\\">\\n      <h2>Hi {{ $json.lead_name }},</h2>\\n      <p>Your personalized health assessment is ready!</p>\\n      <p>Based on your profile, we've identified key health insights that could help you prevent chronic conditions and improve your well-being.</p>\\n      <p><strong>Take the first step towards better health today.</strong></p>\\n      <a href=\\\"https://zdgvndxdhucbakguvkgw.supabase.co/functions/v1/track-click/{{ $json.assignment_id }}\\\" class=\\\"cta\\\">\\n        Get Your Free Assessment →\\n      </a>\\n      <p style=\\\"margin-top: 30px; color: #555;\\\">This personalized assessment takes just 2 minutes and provides actionable insights tailored to your health profile.</p>\\n    </div>\\n    <div class=\\\"footer\\\">\\n      <p>You're receiving this because you signed up for PreventIQ health insights.</p>\\n      <p>© 2025 PreventIQ. All rights reserved.</p>\\n    </div>\\n  </div>\\n</body>\\n</html>\",\n  \"tags\": [\n    {\n      \"name\": \"campaign\",\n      \"value\": \"preventiq_daily\"\n    },\n    {\n      \"name\": \"persona\",\n      \"value\": \"{{ $json.persona_id }}\"\n    }\n  ]\n}",
        "options": {}
      },
      "name": "Send Email via Resend",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1120,
        200
      ],
      "id": "send-email-resend",
      "credentials": {
        "httpHeaderAuth": {
          "id": "resend-api",
          "name": "Resend API"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO assignments (lead_id, persona_id, variant_subject_id, corr_id, status, send_at)\nVALUES (\n  '{{ $('Split campaigns array').item.json.lead_id }}',\n  '{{ $('Split campaigns array').item.json.persona_id }}',\n  '{{ $('Split campaigns array').item.json.variant_id }}',\n  '{{ $json.id }}',\n  'sent',\n  NOW()\n)\nRETURNING id;",
        "options": {}
      },
      "name": "Store Assignment in Supabase",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1340,
        200
      ],
      "id": "store-assignment",
      "credentials": {
        "postgres": {
          "id": "supabase-postgres",
          "name": "Supabase Postgres"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "mergeByPosition",
        "options": {}
      },
      "name": "Merge Campaign + Email Data",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1560,
        200
      ],
      "id": "merge-data"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO error_log (workflow_name, error_message, payload, ts)\nVALUES (\n  'campaign-send',\n  '{{ $json.error.message }}',\n  '{{ JSON.stringify($json) }}',\n  NOW()\n);",
        "options": {}
      },
      "name": "Log Error to Database",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1340,
        400
      ],
      "id": "log-error",
      "credentials": {
        "postgres": {
          "id": "supabase-postgres",
          "name": "Supabase Postgres"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "content": "## Campaign Send Workflow\n\n**Trigger:** Daily at 10:00 AM IST (4:30 AM UTC)\n\n**What it does:**\n1. Calls `campaign-send` Edge Function\n2. Gets prepared campaigns with Thompson Sampling variant selection\n3. Sends emails via Resend API\n4. Stores assignments with Resend email_id (corr_id)\n5. Logs errors if any\n\n**Output:** Email sent + assignment stored\n\n**Resend webhook:** Will receive events and update stats automatically",
        "height": 350,
        "width": 400,
        "color": 4
      },
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        220,
        460
      ],
      "id": "sticky-note"
    },
    {
      "parameters": {
        "content": "## No Campaigns\n\nIf campaign-send returns empty array:\n- No unassigned leads\n- Or all leads already processed today\n\nWorkflow stops here (expected behavior)",
        "height": 200,
        "width": 300,
        "color": 7
      },
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        660,
        440
      ],
      "id": "sticky-note-no-campaigns"
    }
  ],
  "connections": {
    "Daily at 10 AM IST (4:30 AM UTC)": {
      "main": [
        [
          {
            "node": "Call campaign-send Edge Function",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call campaign-send Edge Function": {
      "main": [
        [
          {
            "node": "Check if campaigns exist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if campaigns exist": {
      "main": [
        [
          {
            "node": "Split campaigns array",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Split campaigns array": {
      "main": [
        [
          {
            "node": "Send Email via Resend",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email via Resend": {
      "main": [
        [
          {
            "node": "Store Assignment in Supabase",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge Campaign + Email Data",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Store Assignment in Supabase": {
      "main": [
        [
          {
            "node": "Merge Campaign + Email Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-11-11T00:00:00.000Z",
  "versionId": "1"
}
