n8n-workflows/flow-c-campaign-send.json
{
  "name": "Flow C: Daily Campaign Send",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * *"
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "host-assignment",
              "name": "host",
              "value": "https://zdgvndxdhucbakguvkgw.supabase.co",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "supabase-config",
      "name": "Supabase Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        450,
        300
      ]
    },
    {
      "parameters": {
        "url": "={{ $('Supabase Config').item.json.host }}/functions/v1/campaign-send",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={}",
        "options": {}
      },
      "id": "call-campaign-send",
      "name": "Call campaign-send",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        650,
        300
      ],
      "credentials": {
        "supabaseApi": {
          "id": "supabase-api-credential",
          "name": "Supabase API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "has-campaigns",
              "leftValue": "={{ $json.success === true && Array.isArray($json.campaigns) && $json.campaigns.length > 0 }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-campaigns",
      "name": "Has Campaigns?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        850,
        300
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "no-campaigns-message",
              "name": "message",
              "value": "No campaigns to send",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "no-campaigns",
      "name": "No Campaigns",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1050,
        450
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "campaigns",
        "options": {}
      },
      "id": "split-campaigns",
      "name": "Split Campaigns",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1050,
        150
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.brevo.com/v3/smtp/email",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"sender\": {\n    \"name\": \"PreventIQ\",\n    \"email\": \"p24priyesh@gmail.com\"\n  },\n  \"to\": [\n    {\n      \"email\": \"{{ $json.lead_email }}\",\n      \"name\": \"{{ $json.lead_name }}\"\n    }\n  ],\n  \"subject\": \"{{ $json.subject }}\",\n  \"htmlContent\": \"<p>Hi {{ $json.lead_name }},</p><p>{{ $json.subject }}</p><p><a href='https://preventiq.com/track?lead={{ $json.lead_id }}&variant={{ $json.variant_id }}'>Learn More</a></p><p>Best,<br>PreventIQ Team</p>\",\n  \"tags\": [\"campaign\", \"persona_{{ $json.persona_id }}\", \"variant_{{ $json.variant_id }}\"]\n}",
        "options": {}
      },
      "id": "send-email-brevo",
      "name": "Send Email via Brevo",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1250,
        150
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "brevo-api-credential",
          "name": "Brevo API"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO assignments (lead_id, persona_id, variant_subject_id, status, send_at, sent_at)\nVALUES (\n  '{{ $('Split Campaigns').item.json.lead_id }}',\n  '{{ $('Split Campaigns').item.json.persona_id }}',\n  '{{ $('Split Campaigns').item.json.variant_id }}',\n  'sent',\n  NOW(),\n  NOW()\n)",
        "options": {}
      },
      "id": "record-assignment",
      "name": "Record Assignment",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1450,
        150
      ],
      "credentials": {
        "postgres": {
          "id": "supabase-postgres",
          "name": "Supabase Postgres"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO events (assignment_id, type, meta, ts)\nVALUES (\n  (SELECT id FROM assignments WHERE lead_id = '{{ $('Split Campaigns').item.json.lead_id }}' ORDER BY send_at DESC LIMIT 1),\n  'sent',\n  jsonb_build_object(\n    'email_address', '{{ $('Split Campaigns').item.json.lead_email }}',\n    'subject_line', '{{ $('Split Campaigns').item.json.subject }}',\n    'brevo_message_id', '{{ $json.messageId }}',\n    'variant_id', '{{ $('Split Campaigns').item.json.variant_id }}'\n  ),\n  NOW()\n)\nON CONFLICT (assignment_id, type) DO UPDATE SET\n  meta = EXCLUDED.meta,\n  ts = EXCLUDED.ts",
        "options": {}
      },
      "id": "log-email",
      "name": "Log Email Sent",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1650,
        150
      ],
      "credentials": {
        "postgres": {
          "id": "supabase-postgres",
          "name": "Supabase Postgres"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Supabase Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Config": {
      "main": [
        [
          {
            "node": "Call campaign-send",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call campaign-send": {
      "main": [
        [
          {
            "node": "Has Campaigns?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Campaigns?": {
      "main": [
        [
          {
            "node": "Split Campaigns",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Campaigns",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Campaigns": {
      "main": [
        [
          {
            "node": "Send Email via Brevo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email via Brevo": {
      "main": [
        [
          {
            "node": "Record Assignment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Record Assignment": {
      "main": [
        [
          {
            "node": "Log Email Sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "preventiq-genai-engine"
  },
  "id": "flow-c-campaign-send",
  "tags": []
}
